shopt -s expand_aliases
if [ $(uname) = "Darwin" ]; then
    alias ls="ls -G -F -h"
else
    alias ls="ls --color=auto -F -h"
fi
alias grep="grep -i --color=auto"
alias less="less -M -R"
alias more="less"
alias df="df -h"
alias du="du -h -c -s"
alias ping="ping -c 3"
alias rm="rm -r"
alias cp="cp -r"
alias tmux="tmux attach || tmux"
