[user]
    name = Nick Stepa
[push]
    default = simple
[color]
    ui = auto
[apply]
    whitespace = nowarn
[pull]
    rebase = true
[rebase]
    autostash = true
[core]
    ignorecase = false
[log]
    abbrevCommit = true
[fetch]
    recurseSubmodules = true
[alias]
    yolo = !git add -A && git commit -m \"$(curl -s whatthecommit.com/index.txt)\"
